			
	
			#now {background-color: black;
				color: white;
				text-decoration: none;
				}
			
			h1{
				text-align: center;
				padding: 20px;
				font-family: 'Black Han Sans', sans-serif;
			}
			
			@media(min-width: 500px){
			.layout{ display: grid; grid-template-columns: auto auto; }
			}
			
			.t1{grid-column: 1/2}
			.t2{grid-column: 2/3}
			.t3{grid-column: 3/4}
			.t4{grid-column: 4/5}
			.t5{grid-column: 5/6}

			#table{
				margin: 40px;
			}

			img{
				width: 100%;
			}

			#menu{
				font-size: 20px;
				text-align: center;
				padding: 10px;
				font-family: 'Open Sans', sans-serif;}

			#submenu{
				font-size: 15px;
				text-align: center;
				padding: 10px;
				font-family: 'Open Sans', sans-serif;
			}

			.contents{
				font-size: 20px;
				font-family: 'Open Sans', sans-serif;
				color: black;
				text-align: center;
				padding: 50px;
			}

			#full{
				grid-column: 1/6;
			}

			.contact{color: gray; font-size: 15px;
				text-align: center;
				grid-column: 1/6;
			}

			.u1{list-style-type: square;
				padding: 20px;
				list-style-position: inside;
				font-family: 'Open Sans', sans-serif;}

			a{
				color: black;
				text-decoration: none;
			}
			a:hover{
				background-color: black;
				color: white;
				text-decoration: none;
			} 

			video{width: 100%;}
		